.containerUsuario{
  padding: 20px;
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}

.subContainerUsuario{
  width: 98%;
  /* height: 200px; */
  /* background-color:rgb(159, 152, 141); */
  /* padding-top: 10px; */
  
  padding-left: 20px;
  border: none;
  border-radius: 10px;
}
 
 
 
 .example-card {
    max-width: 420px;
    min-width: 200px;
    height: auto;
    /* background-color: red; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
   
 /*   .example-card {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
  } */
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .grideee{
    display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
/*   margin: 5px;
 */  }

  

 

 



.subContainerUsuario h2{
  font-size: 20px;
  font-weight: 500;
  color:gray;
}

/* .contenedor_estado_cuenta{ */
  /* margin-top:20px ;
  background-color: white;
  width: 100%;
  height: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px; */
/* } */

.h3_estado_cuenta{
  font-size: 18px;
  color:darkgrey;
}

.div_cuenta{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.div_cuenta_container{
  width: 40%;
}

.div_cuenta_saldo{
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}

.div_cuenta_total{
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

/* Oportunidad de Inversion */
.contenedor_oportunidad{
  margin-top:20px ;
  background-color: white;
  width: 100%;
  height: auto;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.h3_oportunidad{
  font-size: 18px;
  color:darkgrey;
}

.div_oportunidad{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.div_oportunidad_container{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.oportunidad{
  width: 100%;
  /* height: 100px; */
  /* background-color: red; */
  text-align: center;
  /* border:  */
  border-right: 1px solid darkgray;
  /* border- */
}
.deudores{
  /* height: 100px; */
  width: 100%;
  text-align: center;

  /* background-color: yellow; */
  border-right: 1px solid darkgray;
  
}
.total_operaciones{
  /* height: 100px; */
  width: 100%;
  text-align: center;

  /* background-color: gray; */
}

.nro_oportunidad{
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  color:gray;
}
.oportunidad_1{
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color:rgb(62, 62, 62);
}

.nro_deudores{
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  color:gray;
}
.deudores_1{
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color:rgb(62, 62, 62);
}

.nro_total_operaciones{
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  color:gray;
}
.total_operaciones{
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color:rgb(62, 62, 62);
}