.example-card {
    max-width: 500px;
    min-width: 400px;
  }
   
 /*   .example-card {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
  } */
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .grideee{
    display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
/*   margin: 5px;
 */  }

  