<div class="containerUsuario">

    <div class="subContainerUsuario">
            <h2>Bienvenido {{usuario.nombres==""?usuario.razonSocial:usuario.nombres}}</h2>
            <span>{{tipoUsuario}}</span>
            <div class="contenedor_estado_cuenta">
                <h6 class="h3_estado_cuenta">Estado de Cuenta</h6>
                <div class="div_cuenta">
                    <div class="div_cuenta_container">
                        <div class="div_cuenta_saldo">
                            <span>Saldo disponible</span>
                            <span>-</span>
                        </div>
                        <div class="div_cuenta_saldo">
                            <span>Invertido</span>
                            <span>-</span>
                        </div>
                        <div class="div_cuenta_saldo">
                            <span>Compromiso Ganados</span>
                            <span>-</span>
                        </div>
                        <div class="div_cuenta_total">
                            <span>Total</span>
                            <span>$0.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor_oportunidad">
                <h6 class="h3_oportunidad">Oportunidad de Inversion</h6>
                <div class="div_oportunidad">
                    <div class="div_oportunidad_container">
                        <div class="oportunidad">
                            <div class="nro_oportunidad">0</div>
                            <div class="oportunidad_1">Oportunidades</div>
                        </div>
                        <div class="deudores">
                            <div class="nro_deudores">0</div>
                            <div class="deudores_1">deudores</div>
                        </div>
                        <div class="total_operaciones">
                            <div class="nro_total_operaciones">S/0.00</div>
                            <div class="total_operaciones">Monto total de operaciones</div>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>