<div class="containerUsuario">
  <div class="subContainerUsuario">
          <h2>Agregar una Cuenta Bancaria</h2>
          <div class="contenedor_estado_cuenta">
            <div  mat-dialog-actions style="text-align: start;">
              <button mat-raised-button 
                      type="submit"
                      style="width: 50%;" 
                      color="primary" 
                      (click)="clickAgregarCuentaBancaria()"
                      [mat-dialog-close]="1">
                      Agregar +
                      
              </button>
            </div>
          </div>
          <hr>
  </div>
</div>