<div class="container-fluid">
    <div class="row">
        <!--<div class="col-2 vh-100 text-bg-dark">
            <div  class="d-flex flex-column flex-shrink-0 h-100">
                <a class="text-center text-blue fs-3 my-4 text-decoration-none">Dashboard</a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a routerLink="lista-movimientos" routerLinkActive="active" class="nav-link">Lista de movimientos</a>
                    </li>
                </ul>
            </div>
        </div> -->
        <div class="col vh-100 ">
            <div class="m-4">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div> 