<div class="containerUsuario">
    <div class="subContainerUsuario">
        <div class="contenedor_estado_cuenta">
            <h4 style="text-align: center;">Actualizar Cuenta Bancaria</h4>
            <hr />
            <div class="container-fluid abs-center">
                <div class="row" style="text-align: center; ">
                    <form (submit)="update()" [formGroup]="form">

                        <div class="row" style="display: flex; align-items: center; justify-content: center;">
                            <div class="col-sm-12 col-md-8">
                                <mat-form-field appearance="outline">
                                    <mat-label>Seleccione tipo Banco</mat-label>
                                    <mat-select formControlName="banco" name="banco"
                                    [compareWith]="compararBanco" 
                                      id="banco" [(ngModel)]="cuentaBancaria.banco" 
                                    >
                                        <mat-option [value]="">--Seleccione tipo Banco--</mat-option>
                                        <mat-option *ngFor="let bancox of lstBanco"  [value]="bancox" >
                                            {{bancox.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="form.invalid">{{obtenerErrorCampoBanco()}}</mat-error> 
                                </mat-form-field>
                            </div>
                        </div>
        
                        <div class="row" style="display: flex; align-items: center; justify-content: center;">
                            <div class="col-sm-12 col-md-8">
                                <mat-form-field appearance="outline">
                                    <mat-label>Seleccione tipo Cuenta Bancaria</mat-label>
                                    <mat-select formControlName="tipoCuentaBancaria" 
                                    [compareWith]="comparartipoCuentaBancaria" 
                                    name="tipoCuentaBancaria"  id="tipoCuentaBancaria" [(ngModel)]="cuentaBancaria.tipoCuentaBancaria" 
                                   >
                                        <mat-option [value]="">--Seleccione tipo Cuenta Bancaria--</mat-option>
                                        <mat-option *ngFor="let x of lsttipoCuentabancaria" [value]="x">
                                            {{x.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="form.invalid">{{obtenerErrorCampoTipoCuentaBancaria()}}</mat-error> 
                                </mat-form-field>
                            </div>
                        </div>
        
                        <div class="row" style="display: flex; align-items: center; justify-content: center;">
                            <div class="col-sm-12 col-md-8">
                                <mat-form-field appearance="outline">
                                    <mat-label>Seleccione tipo Moneda</mat-label>
                                    <mat-select formControlName="moneda"
                                    [compareWith]="compararMoneda" 
                                    name="moneda"  id="moneda" [(ngModel)]="cuentaBancaria.moneda" 
                                     >
                                 
                                        <mat-option [value]="">--Seleccione Tipo Moneda--</mat-option>
                                        <mat-option *ngFor="let a of lstMoneda" [value]="a">
                                            {{a.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="form.invalid">{{obtenerErrorCampoMoneda()}}</mat-error> 
                                </mat-form-field>
                            </div>
                        </div>
        
        
                        <div class="row" style="display: flex; align-items: center; justify-content: center;">
                            <div class="col-sm-12 col-md-8">
                                <mat-form-field appearance="fill">
                                    <mat-label>Número de cuenta*</mat-label>
                                    <input formControlName="numerocuenta" 
                                    name="numerocuenta"  id="numerocuenta" [(ngModel)]="cuentaBancaria.numerocuenta"  
                                    matInput />
                                    <mat-error *ngIf="form.invalid">{{obtenerErrorCampoNombre()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
        
                        <div class="row" style="display: flex; align-items: center; justify-content: center;">
                            <div class="col-sm-12 col-md-8">
                                <mat-form-field appearance="fill">
                                    <mat-label>Código de Cuenta Interbancario*</mat-label>
                                    <input formControlName="cci"
                                    name="cci"  id="cci" [(ngModel)]="cuentaBancaria.cci"  
                                    matInput />
                                    <mat-error *ngIf="form.invalid">{{obtenerErrorCampoCci()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
        
                        <div class="row mb-4">
                            <div class="col-12 text-right">
                                <button mat-flat-button color="primary" style="margin:15px ;" [disabled]="form.invalid">
                                    Actualizar Cambios
                                </button>
                                <a mat-stroked-button routerLink="/estado-dashboard/estado-cuenta-bancaria">
                                    Cancelar
                                </a>
                            </div>
                        </div>
        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <p>registrar-cuenta-bancaria works!</p>-->
<!-- <h4>Actualizar Cuenta Bancaria</h4>
<hr />
<div class="container-fluid abs-center">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">

            
        </div>
        <div class="col-1"></div>
    </div>
</div> -->